#content img {
    max-width: 90%;
    height: auto;
    margin-top: 5px;
    margin-bottom: 10px;
}
#titleHead {
    border-bottom: 1px solid #999;
}
#relatedArticles img{
	min-width: 121%;
	min-height: auto;
	margin-top: 20px;
}
.date{
	text-align:right;
	margin:0px;
	padding:0px;
}
#headline{
	margin-bottom:0px !important;
}
hr{
	margin-top:0px !important;
}